{% extends 'base.html' %}

{% block content %}

    <div>
        {{ request.user }}
        <br>
    </div>

    <hr>
    <br><br>

    <div>
        {% for message in messages %}
            {% if message.parent %}
                Replied to: {{ message.parent }}
            {% endif %}
            <p><strong>{{ message.message }}</strong></p>
            <p><small> {{ message.author }} - {{ message.date }}</small></p>
            <p>
                {% if message.changed == True %}
                    <small>changed</small>
                {% endif %}
            </p>
            <a href="#formMessage" onclick="Reply('{{ message.id }}')">
                Reply
            </a>
            <p>
                {% if message.author == request.user %}
                    <a href="{% url 'change' message.pk %}">Change</a>
                {% endif %}
            <form action="{% url 'delete' message.pk 0 %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete for you</button>
            </form>
            <form action="{% url 'delete' message.pk 1 %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete for everyone</button>
            </form>
            </p>
            <hr>
        {% endfor %}
    </div>
    <div>
        <form action="" method="post" id="formMessage">
            {% csrf_token %}
            <input type="hidden" name="parent" id="contactparent" value="">
            {{ form }}
            <button type="submit">send</button>
        </form>
    </div>
    <script>
        function Reply(id) {
            document.getElementById("contactparent").value = id;
        }
    </script>

{% endblock %}