{% extends 'base.html' %}

{% block content %}

    <div>
        {{ request.user }}
        <br>
    </div>

    <hr>
    <br><br>

    <div>
        {% for message in messages %}
            <p><strong>{{ message.message }}</strong></p>
            <p><small>{{ message.date }}</small></p>
            <p>
            <form action="{% url 'delete' message.pk 0 %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete for you</button>
            </form>
            <form action="{% url 'delete' message.pk 1 %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete for everyone</button>
            </form>
            </p>
            <hr>
        {% endfor %}
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">send</button>
        </form>
    </div>

{% endblock %}